.section--about {
  &__image {
    // shadow should only show if clip fails
    box-shadow: $box-shadow;
    @include clip-left;
    margin-bottom: $spacer * 2;
  }

  .section__subtitle {
    transform: skewY(2deg);
  }

  &__paragraphs {
    background: color(highlight);
    @include clip-right;

    h3 {
      transform: rotate(-2deg);
      @include line-break($margin: $spacer * 1.25, $width: 35%);
    }
  }
}
