.section--gallery {
  background-image: linear-gradient(
      45deg,
      rgba(color(primary), 0.8),
      rgba(color(primary), 0.8)
    ),
    url(../images/bg.jpg);
  background-size: cover;
  position: relative;
  background-position: top;
  @include clip-right;

  .section__title {
    transform: rotate(-2deg);
  }

  .section__subtitle {
    transform: rotate(1deg);
    margin-bottom: $spacer + 1.5;
  }

  .gallery {
    @include limit-width;

    &__figure {
      margin: 0;
      position: relative;
      margin-bottom: $spacer * 2;

      @include mq(md) {
        margin-bottom: $spacer * 7;
      }

      @include mq(lg) {
        transition: all 1s ease-in;

        &:hover {
          filter: grayscale(100);
          z-index: 1;
        }
      }
    }
    &__caption {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(grey(4), 0.5);
      padding: $spacer * 1.5;
    }

    &__title {
      margin: 0;
    }
    @include mq(lg) {
      @include grid(3);
      width: 100%;
    }
  }
}
