html {
  scroll-behavior: smooth;
}

body {
  background: color(background);
}

img {
  width: 100%;
  height: auto;
}

a {
  color: color(accent);
  text-decoration: none;
}

.section {
  padding: $spacer * 4.5 $spacer * 2 $spacer * 2;
  margin-bottom: $spacer * 3;

  &-spacer {
    padding: $spacer * 1.5 0;
    font-size: 10vw;
  }
}
