body {
  background: color(background);
}

// responsive images
img {
  width: 100%;
  height: auto;
}

a {
  color: color(accent);
  text-decoration: none;
}

.section {
  padding: $spacer * 1.5 $spacer * 2 $spacer * 2;
  // margin-bottom: $spacer * 2;
}

.section--about__paragraphs {
  background: color(highlight);
}
