.section--home {
  min-height: 90vh;
  background-image: linear-gradient(
      45deg,
      rgba(color(accent), 0.5),
      rgba(color(accent), 0.5)
    ),
    url(../images/header.jpg);
  background-size: cover;
  position: relative;
  background-position: top;
  @include clip-right;

  .page-title {
    &__1 {
      position: absolute;
      top: 5%;
      left: 0;
      padding: $spacer;
    }

    &__2 {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: $spacer;
    }
  }
}
