.section--info {
  @include clip-left(4%);
  p {
    padding-bottom: $spacer * 1.25;
  }

  .section__subtitle {
    transform: skewY(1deg);
  }

  .facts-wrapper {
    @include mq(lg) {
      max-width: 1200px;
      @include grid(4);
      line-height: 1.4;
      letter-spacing: $spacer * 0.1;
    }
  }
}
