.nav {
  position: sticky;
  top: 0;
  padding: 1px;
  background: rgba(color(background), 0.97);
  z-index: 1;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }

  a {
    color: grey(2);
  }
}

.logo {
  display: none;
}
