<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="icon" type="image/png" href="../images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/main.scss" />
    <title>Aud And Emm</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__list-item"><a href="#home">Home</a></li>
        <li class="nav__list-item"><a href="#about--end">About</a></li>
        <li class="nav__list-item logo">
          <a href="#"><img src="../images/logo.png" alt="logo"/></a>
        </li>
        <li class="nav__list-item"><a href="#gallery">Gallery</a></li>
        <li class="nav__list-item"><a href="#cards">Cards</a></li>
      </ul>
    </nav>
    <section class=" section section--home" id="home">
      <h1 class="page-title">
        <div class="page-title__1">Audrey</div>
        <div class="page-title__2">Emmett</div>
      </h1>
    </section>
    <div class="section" id="#mobile-wrapper">
      <section class=" section--about" id="about">
        <h2 class="section__title">This is about Audrey & Emmett</h2>
        <p class="section__subtitle">This subtitle has a cool catch phrase!</p>
        <img src="../images/cta.jpg" alt="#" class="section--about__image" />
        <div>
          <i class="far fa-laugh-squint section-spacer"></i>
        </div>
        <div class="section section--about__paragraphs" id="about--end">
          <h3>And now for some cool paragraphs</h3>
          <p>
            Skate ipsum dolor sit amet, pivot rock and roll kidney half-cab John
            Carbis. Mini ramp John Grigley speed wobbles coper rails. Nollie
            rocket air ollie bone air. Rock and roll ollie hip street. Ho-ho
            berm ollie smith grind. Tail roll-in acid drop poseur Rob Roskopp.
            Nose-bump berm tic-tac camel back. Griptape pool darkslide pump.
            Kick-nose tuna-flip rail slide locals. Bank locals crail slide Tower
            Skate Park bruised heel. Method air Saran Wrap lip layback Hard
            Corps. Nose bump durometer masonite powerslide.
          </p>

          <p>
            Slide bail Christ air frontside air sick Arto Saari nose slide 270.
            Spine camel back transition lip 540 crail slide pivot. Face plant
            rock and roll 360 Primo slide risers lip stalefish. Poseur ho-ho
            risers slappy front foot impossible Tracker tail. Hurricane hang-up
            lipslide bone air Chris Haslam 270 hard flip kidney. Slappy acid
            drop Craig Patterson grab regular footed tailslide pool pressure
            flip. Handplant camel back smith grind alley oop death box coper
            disaster. Slob air opposite footed regular footed cess slide
            powerslide nose bump trucks. Boneless Pushead bigspin tailslide
            concave grind 270 shoveit. Varial slam pressure flip Tracker 360
            ollie rad.
          </p>

          <p>
            Tic-tac lien air nosegrind poseur darkslide sketchy flypaper. Frigid
            air slam 1080 half-cab Love Bowl sketchy pool helipop. Lip Madonna
            betty Saran Wrap vert 50-50 360 hip. Crooked grind switch coping
            rail slide egg plant skate key layback. Indy grab finger flip Ray
            Barbee boned out casper slide pressure flip bank locals. Full-cab
            boned out ledge powerslide trucks impossible melancholy. Hanger
            melancholy transfer bail griptape carve half-flip. Pump birdie hard
            flip shoveit aerial slam wall ride. Pump betty indy grab hard flip
            opposite footed rock and roll nose blunt. Fakie airwalk nose slide
            bruised heel layback poseur Japan air. Hang ten stoked handplant
            tuna-flip death box lip rails. Nosegrind Kevin Harris masonite
            crailtap Chris Haslam stoked kickturn invert. Invert mongo nose
            durometer mini ramp Chris Livingston kingpin gap.
          </p>
        </div>
      </section>
      <section class="section section--info" id="info">
        <h2 class="section__title">Interesting info</h2>
        <p class="section__subtitle">
          Topical info that is interesting, but not as important as the section
          title
        </p>
        <div class="facts_wrapper">
          <div class="fact">
            <h3>Punny Title</h3>
            <p>
              Bacon ipsum dolor amet labore eu ea laborum veniam ut adipisicing
              eiusmod tail capicola reprehenderit kielbasa doner nisi turkey.
              Alcatra pork chop prosciutto pig filet mignon cupidatat.
              Adipisicing aute strip steak cillum, est flank consequat venison
              cow id proident boudin. Sausage porchetta shankle nisi pariatur
              cupim fatback. Doner pork chop prosciutto nisi ex, beef ribs short
              ribs voluptate incididunt ullamco ground round meatball.
            </p>
          </div>
          <div class="fact">
            <h3>Important Title</h3>
            <p>
              Bacon ipsum dolor amet burgdoggen bacon pig pork chop fugiat
              irure. Chuck doner ad bresaola aliqua. Ground round ut officia
              ipsum elit. Non tail spare ribs, dolore consectetur turkey
              frankfurter cow porchetta beef pork belly kielbasa nostrud
              excepteur. Esse dolore ipsum, meatloaf t-bone nostrud sirloin
              andouille. Do non labore dolore. Laborum sint adipisicing, sirloin
              frankfurter deserunt ut lorem leberkas cillum venison excepteur
              et.
            </p>
          </div>
          <div class="fact">
            <h3>Fun Title</h3>
            <p>
              Bacon ipsum dolor amet incididunt t-bone cupim commodo, tempor
              shoulder sirloin tenderloin elit chuck ham hock. Reprehenderit
              meatball short ribs occaecat incididunt ea ut ribeye dolor qui.
              Turkey fugiat biltong, deserunt ball tip ribeye magna. Magna cow
              landjaeger lorem. Ut sint shankle minim, bacon cillum dolore
              prosciutto corned beef mollit in esse tempor labore. Minim flank
              incididunt filet mignon, pork mollit frankfurter excepteur ut
              chuck. Ut pariatur nulla voluptate.
            </p>
          </div>
          <div class="fact">
            <h3>Cool Title</h3>
            <p>
              Bacon ipsum dolor amet short ribs beef eu, spare ribs shank sunt
              in andouille. Pork belly short ribs alcatra, elit in ball tip
              hamburger chicken shoulder exercitation deserunt laboris shank
              duis anim. Capicola eu prosciutto chicken, mollit laborum meatball
              shank exercitation elit drumstick in. Leberkas nostrud sint spare
              ribs meatball bresaola.
            </p>
          </div>
        </div>
      </section>
      <section class="section section--gallery" id="gallery">
        <h2 class="section__title">Eye-catching gallery</h2>
        <p class="section__subtitle">
          Slighty less eye-catching but important contextual information
        </p>
        <div class="gallery">
          <figure class="gallery__figure">
            <img
              src="../images/gal-1.jpg"
              alt="audrey and emmett"
              class="gallery__image"
            />
            <figcaption class="gallery__caption">
              <h3 class="gallery__title font__override--white">
                Title of this photo
              </h3>
              <p class="font__override--white">Information about this photo</p>
            </figcaption>
          </figure>
          <figure class="gallery__figure">
            <img
              src="../images/gal-1.jpg"
              alt="audrey and emmett"
              class="gallery__image"
            />
            <figcaption class="gallery__caption">
              <h3 class="gallery__title font__override--white">
                Title of this photo
              </h3>
              <p class="font__override--white">Information about this photo</p>
            </figcaption>
          </figure>
          <figure class="gallery__figure">
            <img
              src="../images/gal-1.jpg"
              alt="audrey and emmett"
              class="gallery__image"
            />
            <figcaption class="gallery__caption">
              <h3 class="gallery__title font__override--white">
                Title of this photo
              </h3>
              <p class="font__override--white">Information about this photo</p>
            </figcaption>
          </figure>
        </div>
      </section>
      <section class="section section--cards" id="cards">
        <h2 class="section__title">Mandatory Cards</h2>
        <div class="cards">
          <div class="card">
            <img src="../images/card1.jpg" alt="cool kid" class="card__image" />
            <p class="card__body">
              Lorem ipsum dolor amet taiyaki venmo subway tile tattooed,
              chartreuse hoodie letterpress schlitz thundercats glossier. Plaid
              heirloom viral hoodie glossier ugh. Fam venmo iPhone cronut
              heirloom meggings hexagon. Prism chicharrones actually blog
              kombucha offal brooklyn la croix pop-up glossier enamel pin
              tumeric food truck tacos squid.
            </p>
            <div
              class="card__credit font__override--white font__override--white"
            >
              <p class="card__name">Important Words</p>
              <p class="card__date">date or something</p>
            </div>
          </div>
          <div class="card">
            <img
              src="../images/header.jpg"
              alt="cool kids"
              class="card__image"
            />
            <p class="card__body">
              Lorem ipsum dolor amet freegan YOLO tacos wayfarers PBR&B. Fixie
              lyft bushwick XOXO brunch cliche cardigan literally migas cred.
              Banh mi edison bulb banjo listicle umami tumblr actually.
              Gochujang craft beer 3 wolf moon, yuccie direct trade ennui raw
              denim prism bushwick listicle thundercats church-key twee taiyaki
              small batch. Fixie subway tile coloring book neutra tacos
              pinterest narwhal before they sold out gastropub squid selvage.
              Literally vexillologist enamel pin food truck taxidermy. Before
              they sold out ethical sustainable vape typewriter.
            </p>
            <div class="card__credit font__override--white">
              <p class="card__name">Important Words</p>
              <p class="card__date">date or something</p>
            </div>
          </div>
          <div class="card">
            <img
              src="../images/card2.jpg"
              alt="cool kids"
              class="card__image"
            />
            <p class="card__body">
              Asymmetrical art party kogi, heirloom glossier fam portland XOXO
              letterpress intelligentsia adaptogen wolf. Subway tile austin
              irony, fanny pack gluten-free mixtape yr palo santo. Tumeric banh
              mi tote bag roof party iPhone woke mixtape cloud bread meditation
              put a bird on it synth adaptogen kale chips live-edge.
              Cold-pressed master cleanse before they sold out coloring book,
              pug mlkshk vegan pop-up leggings slow-carb fanny pack wolf
              pinterest selfies raclette. Mixtape cray meggings deep v yuccie
              jianbing.
            </p>
            <div class="card__credit font__override--white">
              <p class="card__name">Important Words</p>
              <p class="card__date">date or something</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <p>
        Created By
        <a href="https://jaredmakes.website">Jared Truscott</a> &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
              <ul class="footer__social-links">
                <li>
                  <a href="http://github.com/trujared" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-alt"></i></a>
                </li>
                <li>
                  <a href="http://codepen.io/jaredspens" target="_blank" rel="noopener noreferrer"><i class="fab fa-codepen"></i></a>
                </li>
                <li>
                  <a href="http://twitter.com/trujared" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                  <a href="http://instagram.com/trujared" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
      </p>
      <p>Thanks:
        <a href="https://courses.kevinpowell.co/courses/master-sass"
          >Sass - from beginner to real world</a
        >

    </footer>
    <script src="../javascripts/index.js"></script>
  </body>
</html>
