@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,900|Space+Mono');

$heading-font: 'Space Mono', monospace;
$body-font: 'Montserrat', sans-serif;

// font-weight
$fw-1: 200;
$fw-2: 400;
$fw-3: 900;

// font-sizes
$base-font: 1.6rem;

// * code starts here * //

// set html to 10px to create base 10
html {
  font-size: 10px;
}

body {
  font-family: $body-font;
  font-size: $base-font;
  color: color(font);
  line-height: 1.35;
  letter-spacing: $spacer * 0.075;
  // almost all text should be centered
  text-align: center;

  @include mq(md) {
    line-height: 1.4;
    letter-spacing: $spacer * 0.09;

    @include mq(xl) {
      font-size: 1.8rem;
    }
  }
}

h1 h2,
h3,
h4,
h5 {
  font-family: $heading-font;
}

h2,
h3 {
  color: grey(5);
  line-height: 1.25;
}

h2 {
  font-size: $base-font * 2;
  @include mq(lg) {
    font-size: $base-font * 2.25;
  }
  text-transform: capitalize;
}

h3 {
  font-size: $base-font * 1.5;
  text-transform: uppercase;
  color: color(primary);
}

.page-title {
  font-family: $body-font;
  font-weight: $fw-1;
  font-size: 6vw;
  color: $white;
  line-height: 1;
  letter-spacing: $spacer * 0.25;
}

.section__title {
  color: color(secondary);
  line-height: 1;
}

.section__subtitle {
  color: grey(1);
  line-height: 1.25;
  font-weight: $fw-3;
}

.font__override {
  &--white {
    color: color(background);
  }

  &--grey1 {
    color: grey(1);
  }
}
