@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,900|Space+Mono');

$heading-font: 'Space Mono', monospace;
$body-font: 'Montserrat', sans-serif;

// font-weight
$fw: (
  1: 200,
  2: 400,
  3: 900
);
